# Django settings
SECRET_KEY=django-insecure-<your key>
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,0.0.0.0,localhost,...
DISPLAY_COUNT=4
CSRF_ORIGINS=http://*localhost,https://*localhost,...
# Database settings
DB_ENGINE=postgresql
POSTGRES_DB=<name_your_db>
POSTGRES_USER=<name_user_db>
POSTGRES_PASSWORD=<password_admin_db>
POSTGRES_HOST=<name_host_db>
POSTGRES_PORT=5432
# Cache settings
CACHE_TIME=300