{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
{% if user.is_superuser %}
  <h3 align="center">Приветствую, {{ user.username }}!</h3>
{% else %}
  <h3 align="center">Приветствую, {{ user.first_name }}!</h3>
{% endif %}
<h3 align="center">Проверки вашей организации</h3>
<div class="container">
  <button type="button">
    <a href="{% url 'facility:create_examination' %}"
       class="btn btn-primary">Добавить запись
    </a>
  </button>
  <div class="item">
    <form method="get" class="form-inline my-2 my-lg-0">
      <p>Варианты фильтрации записей о проверках:</p>
      <div class="form-group">
        <input class="form-control mr-sm-2" type="date" name="current_check_date" value="{{ request.GET.current_check_date }}">
        <small class="form-text text-muted">Введите дату текущей проверки (можно выбрать в календаре)</small>
      </div>
      <div class="form-group">
        <input class="form-control mr-sm-2" type="date" name="next_check_date" value="{{ request.GET.next_check_date }}">
        <small class="form-text text-muted">Введите дату следующей проверки (можно выбрать в календаре)</small>
      </div>
      <input class="form-control mr-sm-2" type="text" name="course_number" placeholder="№ программы обучения" value="{{ request.GET.course_number }}">
      <input class="form-control mr-sm-2" type="text" name="course_name" placeholder="Наименование программы обучения" value="{{ request.GET.course_name }}">
      <input class="form-control mr-sm-2" type="text" name="brigade" placeholder="Цех, участок аттестуемого" value="{{ request.GET.brigade }}">
      <button class="button" type="submit">Фильтровать</button>
      <button class="button">
        <a href="{% url 'facility:index' %}">Сбросить фильтр</a>
      </button>
    </form>
  </div>
</div>
<br>
<div class="container">
  <div class="item">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th><a href="?{% if request.GET.order_by == 'protocol_number' %}order_by=-protocol_number{% else %}order_by=protocol_number{% endif %}">Номер протокола</th>
            {% if user.is_superuser %}
            <th>Компания</th>
            {% endif %}
            <th><a href="?{% if request.GET.order_by == 'created_at' %}order_by=-created_at{% else %}order_by=created_at{% endif %}">Дата записи</th>
            <th><a href="?{% if request.GET.order_by == 'current_check_date' %}order_by=-current_check_date{% else %}order_by=current_check_date{% endif %}">Дата текущей проверки</th>
            <th><a href="?{% if request.GET.order_by == 'next_check_date' %}order_by=-next_check_date{% else %}order_by=next_check_date{% endif %}">Дата следующей проверки</th>
            <th>ФИО аттестуемого</th>
            <th>Должность аттестуемого</th>
            <th><a href="?{% if request.GET.order_by == 'examined__brigade' %}order_by=-examined__brigade{% else %}order_by=examined__brigade{% endif %}">Цех, участок аттестуемого</th>
            <th>ФИО председателя комиссии</th>
            <th>Должность председателя комиссии</th>
            <th>ФИО первого члена комиссии</th>
            <th>Должность первого члена комиссии</th>
            <th>ФИО второго члена комиссии</th>
            <th>Должность второго члена комиссии</th>
            <th>ФИО ответственного за электро-безопасность</th>
            <th>Должность ответственного за электро-безопасность</th>
            <th>Причина проверки знаний</th>
            <th>Дата предыдущей проверки</th>
            <th>Предыдущая группа по ЭБ</th>
            <th>Вид проводимого инструктажа</th>
            <th><a href="?{% if request.GET.order_by == 'course__course_number' %}order_by=-course__course_number{% else %}order_by=course__course_number{% endif %}">№ программы обучения</th>
            <th><a href="?{% if request.GET.order_by == 'course__course_name' %}order_by=-course__course_name{% else %}order_by=course__course_name{% endif %}">Наименование программы обучения</th>
            <th>Группа по ЭБ</th>
            <th>Стаж работы</th>
            <th>Номер удостоверения</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          {% for examination in examinations %}
          <tr>
            <td>{{ examination.protocol_number }}</td>
            {% if user.is_superuser %}
            <td>{{ examination.examined.company_name }}</td>
            {% endif %}
            <td>{{ examination.created_at|date:"d.m.Y h:m" }}</td>
            <td>{{ examination.current_check_date|date:"d.m.Y" }}</td>
            <td>{{ examination.next_check_date|date:"d.m.Y" }}</td>
            <td>{{ examination.examined.full_name }}</td>
            <td>{{ examination.examined.position }}</td>
            <td>{{ examination.examined.brigade }}</td>
            <td>{{ examination.commission.chairman_name }}</td>
            <td>{{ examination.commission.chairman_position }}</td>
            <td>{{ examination.commission.member1_name }}</td>
            <td>{{ examination.commission.member1_position }}</td>
            <td>{{ examination.commission.member2_name }}</td>
            <td>{{ examination.commission.member2_position }}</td>
            <td>{{ examination.commission.safety_officer_name }}</td>
            <td>{{ examination.commission.safety_officer_position }}</td>
            <td>{{ examination.reason }}</td>
            <td>{{ examination.previous_check_date|date:"d.m.Y" }}</td>
            <td>{{ examination.examined.previous_safety_group }}</td>
            <td>{{ examination.briefing }}</td>
            <td>{{ examination.course.course_number }}</td>
            <td>{{ examination.course.course_name }}</td>
            <td>{{ examination.examined.safety_group }}</td>
            <td>{{ examination.examined.work_experience }}</td>
            <td>{{ examination.course.certificate_number }}</td>
            <td>
              <button type="button">
              <a href="{% url 'facility:update_examination' examination.pk %}"
                 class="button">
                  Редакти-ровать
              </a>
              </button>
              <button type="button">
              <a href="{% url 'facility:delete_examination' examination.pk %}"
                 class="button">
                  Удалить
                </a>
              </button>
              <button type="button">
              <a href="{% url 'documents:document_generate' examination.id %}"
                 class="button">
                  Генерировать документ
                </a>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
  <!-- Подключение пагинации -->
  {% if is_paginated %}
    {% include 'facility/includes/paginator.html' %}
  {% endif %}
  {% else %}
<div class="container">
  <div class="item" align="center">
    <h4>Приветствую Вас в приложении для контроля за проверками
        в области охраны труда и промышленной безопасности.</h4>
    <h4>Ознакомление с функционалом приложения доступно только зарегистрированным пользователям.</h4>
    <h4>Для регистрации обратитесь к администратору.</h4>
  </div>
</div>
{% endif %}
{% endblock %}
