{% extends "base.html" %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <div>
        <label for="organization">Наименование организации:</label>
        <select name="organization" id="organization">
            {% for org in organizations %}
            <option value="{{ org.id }}">{{ org.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="username">Имя пользователя:</label>
        <input type="text" name="username" id="username" required>
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" name="password" id="password" required>
    </div>
    <button type="submit">Войти</button>
</form>
{% endblock %}
