{% extends "base.html" %}
{% block content %}
<h2 align="center">Авторизация пользователя</h2>
<div class="container">
  <div class="item">
    {% if messages %}
      <ul class="error-messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <form method="POST">
      {% csrf_token %}
      <label for="username">Имя пользователя:</label>
      <input type="text" id="username" name="username" required><br><br>

      <label for="password">Пароль:</label>
      <input type="password" id="password" name="password" required><br><br>

      <label for="organization">Наименование организации:</label>
      <select id="organization" name="organization">
          <option value="">Выберите организацию</option>
          {% for org in organizations %}
              <option value="{{ org.id }}">{{ org }}</option>
          {% endfor %}
      </select><br><br>

      <button type="submit">Войти</button>
    </form>
  </div>
</div>
{% endblock %}
