{% extends "base.html" %}
{% block content %}
{% if user.is_superuser %}
  <h2 align="center">Список всех пользователей</h2>
    <div class="container">
    {% for user in users %}
      <div class="item">
        <p>Наименование организации: {{ user.organization.name }}</p>
        <p>Имя пользователя: {{ user.username }}</p>
        <p>Фамилия: {{ user.last_name }}</p>
        <p>Имя: {{ user.first_name }}</p>
        <p>Адрес электронной почты: {{ user.email }}</p>
        <button type="button">
          <a href="{% url 'users:edit_user_profile' user.id %}">Редактировать</a>
        </button>
      </div>
    {% endfor %}
    </div>
    <div class="container" style="align-items: center;">
      <p>
      <button>
        <a href="{% url 'users:register' %}">Добавить пользователя</a>
      </button>
    </div>

  {% else %}
  <h2 align="center">Информация о пользователе</h2>
  <div class="container">
    <div class="item">
      <p>Наименование организации: {{ user.organization.name }}</p>
      <p>Имя пользователя: {{ user.username }}</p>
      <p>Фамилия: {{ user.last_name }}</p>
      <p>Имя: {{ user.first_name }}</p>
      <p>Адрес электронной почты: {{ user.email }}</p>
      <button type="submit">
        <a href="{% url 'users:edit_profile'%}">Редактировать свой профиль</a>
      </button>
    </div>
  </div>
  {% endif %}
{% endblock %}