{% extends "base.html" %}
{% block content %}
<h2 align="center">Регистрация нового пользователя</h2>
<div class="container">
  <div class="item">
    <form method="POST">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <p>
        <label for="id_username">Имя пользователя:</label>
        {{ form.username }}
      </p>
      <p>
        <label for="id_email">Адрес электронной почты:</label>
        {{ form.email }}
      </p>
      <p>
        <label for="id_first_name">Имя:</label>
        {{ form.first_name }}
      </p>
      <p>
        <label for="id_last_name">Фамилия:</label>
        {{ form.last_name }}
      </p>
      <p>
        <label for="id_password1">Пароль:</label>
        {{ form.password1 }}
      </p>
      <p>
        <label for="id_password2">Подтверждение пароля:</label>
        {{ form.password2 }}
      </p>
      <p>
        <label for="id_organization">Наименование организации:</label>
        {{ form.organization }}
      </p>
      <p>
        <label for="id_new_organization">Новая организация:</label>
        {{ form.new_organization }}
      </p>
      <button type="submit">Создать пользователя</button>
    </form>
  </div>
</div>
{% endblock %}

