{% extends "base.html" %}

{% block content %}
<h2 align="center">Генерация документа</h2>
<div class="container">
    <div class="item">
    <p>Проверка: №{{ examination }} </p>
      <form method="POST" class="mt-4">
        {% csrf_token %}
        <div class="form-group">
            <label for="template">Выберите шаблон документа</label>
            {{ form.template }}
        </div>
        <br>
        <div class="form-group" align="center">
            <button type="submit">Заполнить документ</button>
            <button>
                <a href="{% url 'facility:index' %}">Отмена</a>
            </button>
        </div>
      </form>
    </div>
</div>
{% endblock %}