<header>
  <nav>
    <h1>Информация по проверкам</h1>
      <button type="button">
        <a href="{% url 'facility:index' %}">Главная</a>
      </button>
      {% if user.is_authenticated %}
      <button type="button">
        <a href="{% url 'users:profile' %}" class="button">Профиль</a>
      </button>
      <button type="button">
        <a href="{% url 'users:logout' %}" class="button">Выйти</a>
      </button>
      {% else %}
      <button type="button">
        <a href="{% url 'users:login' %}" class="button">Войти</a>
      </button>
      {% endif %}
    </nav>
</header>