<header>
  <nav>
    <h1>Информационная база по проверкам</h1>
      <button type="button">
        <a href="{% url 'facility:index' %}">Главная</a>
      </button>
      {% if user.is_authenticated %}
      <button type="button">
        <a href="{% url 'users:profile' %}">Профиль</a>
      </button>
      <button type="button">
        <a href="{% url 'users:logout' %}">Выйти</a>
      </button>
      {% else %}
      <button type="button">
        <a href="{% url 'users:login' %}">Войти</a>
      </button>
      {% endif %}
    </nav>
</header>